Source: chaosvpn
Section: net
Priority: extra
Maintainer: Sven-Haegar Koch <haegar@sdinet.de>
Build-Depends: debhelper (>= 7.0.15~), bison, flex, libssl-dev (>= 0.9.8), libcurl4-openssl-dev
Standards-Version: 3.8.3
Homepage: http://github.com/ryd/chaosvpn

Package: chaosvpn
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, perl-base (>= 5.8.0)
Recommends: tinc (>= 1.0.11)
Description: Client to setup connection to ChaosVPN
 This VPN is also known as KrautVPN. It is intended to replace
 the "old" ChaosVPN from 2006.
 .
 The ChaosVPN is a intended VPN to connect Chaos. First services
 that will use it will be the warzone project and ChaosPhone.
 .
 You will find some more information at: (German)
 http://wiki.hamburg.ccc.de/index.php/ChaosVPN#ChaosVPN_2.0
 .
 Further information will come.
