Source: chaosvpn
Section: net
Priority: extra
Maintainer: ChaosVPN Mailinglist <chaosvpn@hamburg.ccc.de>
Build-Depends: dpkg (>= 1.15.7.2~), debhelper (>= 7.0.15~), bison, flex, libssl-dev (>= 0.9.8), zlib1g-dev
Standards-Version: 3.9.2
Homepage: http://github.com/ryd/chaosvpn

Package: chaosvpn
Architecture: any
Depends: dpkg (>= 1.15.7.2~), tinc (>= 1.0.13~), ${shlibs:Depends}, ${misc:Depends}, perl-base (>= 5.8.0), bash (>= 2), iproute
Provides: agoralink
Description: Config generator to setup connection to ChaosVPN
 This VPN is also known as AgoraLink. It replaces the "old" ChaosVPN
 from 2006.
 .
 The ChaosVPN is a VPN intended to connect Chaos and Hackerspaces. First
 services that will use it will be the warzone project and ChaosPhone.
Homepage: http://wiki.hamburg.ccc.de/index.php/ChaosVPN
