#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

CPPFLAGS	:= $(shell DEB_BUILD_MAINT_OPTIONS=hardening=+all dpkg-buildflags --get CPPFLAGS)
CFLAGS		:= $(shell DEB_BUILD_MAINT_OPTIONS=hardening=+all dpkg-buildflags --get CFLAGS)
CXXFLAGS	:= $(shell DEB_BUILD_MAINT_OPTIONS=hardening=+all dpkg-buildflags --get CXXFLAGS)
LDFLAGS		:= $(shell DEB_BUILD_MAINT_OPTIONS=hardening=+all dpkg-buildflags --get LDFLAGS)

%:
	dh $@ --with autoreconf

override_dh_auto_build:
	# Add here commands to compile the package.
	CFLAGS='$(CFLAGS) $(CPPFLAGS)' LDFLAGS='$(LDFLAGS)' $(MAKE)

override_dh_auto_clean:
	$(MAKE) clean

	# running $(MAKE) CHANGES in clean target to have changelog as part
	# of the generated debian source package
	[ -e .git/HEAD -a -n "$(shell which git)" ] && rm -f CHANGES || true
	-$(MAKE) CHANGES

	dh_auto_clean

override_dh_auto_install:
	dh_auto_install
	$(MAKE) DESTDIR=`pwd`/debian/`dh_listpackages`/ install
