#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh --with quilt  $@

# running $(MAKE) changelog in clean target to have changelog as part
# of the generated debian source package
override_dh_clean:
	-$(MAKE) CHANGES
	dh_clean

override_dh_installchangelogs:
	if [ -e CHANGES ] ; then \
		dh_installchangelogs CHANGES ; \
	else \
		dh_installchangelogs ; \
	fi

override_dh_installinit:
	dh_installinit --error-handler=invokerc_error

